<h1> All Known Fish </h1>
<hr>
<% @fishes.each do |fish|%>
  <p>Name: <%= fish.name %></p>
  <p>Average Length: <%= fish.avg_length %></p>
  <p>Catch And Release Only?: <%= fish.catch_and_release_only%></p>
<% end %>