<h1> Fish Information </h1>
<hr>
<p>Name: <%= @fish.name%></p>
<p>Average Length(inches): <%= @fish.avg_length%></p>
<p>Catch And Release Only: <%= @fish.catch_and_release_only%></p>
<%= link_to "Edit Fish Information", "/fishes/#{@fish.id}/edit"%>
